.tabsContainer{
    display: flex;
    // width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin: 25px 0;
    width: 100%;
    justify-content: center;
    @media (max-width: 875px) {
        width: 100%;
        padding: 0;
    }
    .tabsSubContainer{
        display: flex;
        width: 100%;
        max-width: 750px;
    }
    .tab{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: 225px;
        border-bottom: 2px solid white;
        .text{
            font-size: 14px;
        }
        &:hover{
            cursor: pointer;
            color: #007FCF;
            .icon{
                path{fill: #007FCF;}
            }
        }
        @media (max-width: 460px) {
            width: 100%;
            .text{
                display: none;
            }
        }
    }

    .active{
        color: #007FCF;
        border-bottom: 2px solid #007FCF;
        .icon{
            path{fill: #007FCF;}
        }
    }
}